<h1><%= title|| 'LeetCode' %></h1>
<hr/>
<h2>Summary</h2>
<% summary.forEach(function(item){ _%>
<p><%- item.current %> | <%- item.total %></p>
<% }) _%>

<h2>Questions</h2>
<table>
  <thead>
    <tr>
      <th>序号</th>
      <th>题目</th>
      <th>题解</th>
      <th>状态</th>
      <th>难度</th>
    </tr>
  </thead>
</table>
